body {
    background-color: rgb(206, 190, 243);
    color: rgb(0, 0, 0);
}

#container-selections {
    text-align: center;
    background-color: rgb(245, 141, 176);
    border-radius: 15px;
    color: black;
    width: 60%;
}


.center-btn {
    width: auto;
    margin: 2px;

}

#player-elements {
    width: auto;

}

h1, h2, h3 {
    text-align: center;
}

.score, .result{
    text-align: center;
}


#container-btn-play-again {
    text-align: center;
}

#game-title {
    font-weight: 700;
}

.computer-game-element {
    --bs-btn-disabled-bg:gray;
}